/* -------------------------- TEXT SELECTOR NONE -------------------- */
body 
{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
/* ------------------------ END TEXT SELECTOR NONE ------------------- */


/* ------------------------ SCROLL BAR PARAM -------------------------------*/
::-webkit-scrollbar 
{

	width: 4px;
  min-width: 5px;
  max-width: 5px;
  background: white;
}

::-webkit-scrollbar-track 
{
   background: white;
}

::-webkit-scrollbar-thumb
{
  background: #2FF8B1;
}

/* ------------------------ END SCROLL BAR PARAM -----------------------*/


#body
{
	width: 99.5%;
	min-width: 99.5%;
	max-width: 99.5%;
}


#topMenuNav
{
	display: flex;
	flex-direction: row;
	border: 1px solid #71c5a9;
	width: 99.9%;
	min-width: 99.9%;
	max-width: 99.9%;
	background: #2FF8B1;
	height: 3.5rem;
	min-height: 3.5rem;
	max-height: 3.5rem;
	margin-top: -0.4%;
	left: 0;
	position: fixed;
	top: 0.8%;
}

#logoImage
{
	position: absolute;
	top: 0px;
	width: 8%
}


#menuIcon
{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
  position: absolute;
  margin-top: 1%;
  left: 15%;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

#usernameTopNav
{
	display: flex;
	flex-direction: row;
	margin-left: 20%;
	margin-top: 0%;
}

#usernameTopNavLink:hover
{
	color: grey;
	transition-duration: 0.7s;
}

#usernameTopNavLink
{
	text-decoration: none;
	color: whitesmoke;
}

  #wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
        position: relative;
        background-color: #2FF8B1;
      }
      .navbar {
        height: 50px;
        padding: 0;
        margin: 0;
        position: absolute;
      }
      .navbar li {
        height: auto;
        width: 135.8px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #2FF8B1;
      }
      .navbar a {
        padding: 18px 0;
        border-left: 1px transparent #ccc9c9;
        text-decoration: none;
        color: white;
        display: block;
      }
      .navbar li:hover,
      a:hover {
        background-color: #2FF8B1;
      }
      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }
      .navbar li ul li {
        background-color: #2FF8B1;
      }
      .navbar li ul li a {
        border-left: 1px solid #2FF8B1;
        border-right: 1px solid #2FF8B1;
        border-top: 1px solid #2FF8B1;
        border-bottom: 1px solid #2FF8B1;
      }
      .navbar li ul li a:hover {
        background-color: #100C3A;
      }

#angleTopNav
{
	position: relative;
	left: 5%;
}

#searchBox
{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	margin-top: 0.5%;
	width: 25%;
	min-width: 25%;
	max-width: 25%;
}

#searchBox > form
{
	display: flex;
	width: 90%;
}

#searchBox > form > button
{
	width: 23 px;
	height: 23px;
	background: transparent;
	border: none;
}

#searchBox > form > button > img
{
	width: 23 px;
	height: 33px;
	margin-left: 4%;
}

#searchBoxTopNav
{
	align-items: center;
	align-content: center;

	width: 120%;
	height: 2rem;
	border: none;
	border-radius: 4px;
}


#timeClock
{
	display: flex;
	flex-direction: row;
	margin-left: 2%;
	width: 15%;
	min-width: 15%;
	max-width: 15%;
}



#clock
{
	display: flex;
	flex-direction: row;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 30px;
}

#time
{
	color: white;
	font-size: 18px;
}

#day
{
	color: white;
	font-size: 18px;
}

#date
{
	color: white;
	font-size: 18px;
}

#agenda
{
	display: flex;
	flex-direction: row;
	margin-left: 4%;
	margin-top: 1%;
	color: white;

}

#agendaLink
{
	text-decoration: none;
	color: white;
}

#agendaLink:hover
{
	color: grey;
	transition-duration: 0.7s;
}

#username
{
	display: flex;
	flex-direction: row;
	margin-left: 12%;
	margin-top: 1%;
	width: 6%;
	min-width: 6%;
	max-width: 6%;
	color: white;
	display: none;

}

#usernameLink
{
	text-decoration: none;
	color: white;
	font-family: seoge UI Light;
	display: none;
}

#usernameLink:hover
{
	color:  grey;
	transition-duration: 0.7s;
}


#logout
{
	display: flex;
	flex-direction: row;
	margin-left: 21%;
	margin-top: 1%;
	color: white;

}

#logoutLink
{
	text-decoration: none;
	color: white;
}

#logoutLink:hover
{
	color: grey;
	transition-duration: 0.7s;
}


/* ---------------------------------------------------------------------------- BEGIN SIDE MENUBAR -------------------------------------------------------------------------------*/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
/*@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);*/

.logo{
  
}

.settings {
  
  height:73px; 
  float:left;
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
 text-align: center;
font-size:20px;
font-family: 'Strait', sans-serif;

}






/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 




.fa-lg {
font-size: 1em;
  
}
.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}



.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#F7F7F7;
position:fixed;
top:7%;
bottom:0;
height:93%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
width:250px;
  


}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;  
}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
/*font-family: 'Titillium Web', sans-serif;*/
font-family: segoe UI Light;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
  
}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
  
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;  
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  /*font-family: 'Titillium Web';*/
  font-family: segoe UI Light;
  font-style: normal;
  font-weight: 300;
  /*src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');*/
}

/*------------------------------------------------------------------------------------- END SIDE MENUBAR -------------------------------------------------------------------------------------*/


#secondBloc
{
	position: initial;
	margin-top: 7%;
	margin-left: 10%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 46rem;
	min-height: 46rem;
	max-height: 46rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
}

#secondSubBlocOne
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#secondSubBlocOne:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}


#secondSubBlocTwo
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#secondSubBlocTwo:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#secondSubBlocThree
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#secondSubBlocThree:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#secondSubBlocFour
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#secondSubBlocFour:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}


#thirdBloc
{
	position: initial;
	margin-top: 10%;
	margin-left: 2%;
	border: 1px solid none;
	border-radius: 5px;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	height: 48rem;
	min-height: 48rem;
	max-height: 48rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
}


#thirdSubBlocOne
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#thirdSubBlocOne:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#thirdSubBlocTwo
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#thirdSubBlocTwo:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#thirdSubBlocThree
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 18rem;
	min-height: 18rem;
	max-height: 18rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}


#thirdSubBlocThree:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#forthBloc
{
	position: initial;
	margin-top: 10%;
	margin-left: 2%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 35rem;
	min-height: 35rem;
	max-height: 35rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
}


#forthSubBlocOne
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}


#forthSubBlocOne:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#forthSubBlocTwo
{
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 20rem;
	min-height: 20rem;
	max-height: 20rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#forthSubBlocTwo:hover
{
	transform: scale(1.05);
	transition-duration: 1s;
}

#fifthBloc
{
	position: absolute;
	margin-top: 6%;
	margin-left: 32%;
	border: 1px solid none;
	border-radius: 5px;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	height: 4rem;
	min-height: 4rem;
	max-height: 4rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
}

#fifthSubBlocOne
{
	position: relative;
	margin: auto;
	margin-left: 4%;
	margin-top: 1.7%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 2rem;
	min-height: 2rem;
	max-height: 2rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
	text-align: center;
	background-color: limegreen;
}


#fifthSubBlocOne:hover
{
	transform: scale(1.05);
}


#fifthSubBlocTwo
{
	position: relative;
	margin: auto;
	margin-left: 28%;
	margin-top: -2.7%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 2rem;
	min-height: 2rem;
	max-height: 2rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
	text-align: center;
}

#fifthSubBlocTwo:hover
{
	transform: scale(1.05);
}


#fifthSubBlocThree
{
	position: relative;
	margin: auto;
	margin-left: 52%;
	margin-top: -2.8%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 2rem;
	min-height: 2rem;
	max-height: 2rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
	text-align: center;
}

#fifthSubBlocThree:hover
{
	transform: scale(1.05);
}

#fifthSubBlocFour
{
	position: relative;
	margin: auto;
	margin-left: 76%;
	margin-top: -2.7%;
	border: 1px solid none;
	border-radius: 5px;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 2rem;
	min-height: 2rem;
	max-height: 2rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
	text-align: center;
}

#fifthSubBlocFour:hover
{
	transform: scale(1.05);
}


#sixthBloc
{
	visibility: hidden;
	position: absolute;
	margin-top: 10%;
	margin-left: 31.7%;
	border: 1px solid none;
	border-radius: 5px;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	height: 48rem;
	min-height: 48rem;
	max-height: 48rem;
	box-shadow: 3px -2px 8px 3px lightgrey;
}


#sixthSubBlocOne
{
	visibility: hidden;
	position: initial;
	margin: auto;
	margin-top: 5%;
	border: 1px solid none;
	border-radius: 5px;
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 10rem;
	min-height: 10rem;
	max-height: 10rem;
	box-shadow: 3px -2px 8px 3px lightgrey;	
}

#dashboardButton
{
	font-family: segoe UI Light;
	text-decoration: none;
	color: grey;
	font-weight: 600;
}

#dashboardButton:hover
{
	background-color: transparent;
}


#rendezVousButton
{
	font-family: segoe UI Light;
	text-decoration: none;
	color: grey;
	font-weight: 600;
}

#rendezVousButton:hover
{
	background-color: white;
}

#documentsButton
{
	font-family: segoe UI Light;
	text-decoration: none;
	color: grey;
	font-weight: 600;
}

#documentsButton:hover
{
	background-color: white;
}

#courriersButton
{
	font-family: segoe UI Light;
	text-decoration: none;
	color: grey;
	font-weight: 600;
}

#courriersButton:hover
{
	background-color: white;
}


/* ----------------- CORFIRMATION FOR SAVING BILAN DESIGN ---------------------- */
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content 
{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop 
{
  from 
  {
  	top:-300px; opacity:0
  } 
  to 
  {
  	top:0; opacity:1
  }
}

@keyframes animatetop 
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close 
{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header 
{
  padding: 2px 16px;
  background-color: #2FF8B1;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer 
{
  padding: 2px 16px;
  background-color: #2FF8B1;
  color: white;
}

/* ----------- END CONFIRMATION FOR SAVING BILAN DESIGN --------------*/

/* ----------------- CORFIRMATION FOR SAVING WITHOUT SHARING BILAN DESIGN ---------------------- */
.modal2
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content 
{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop 
{
  from 
  {
  	top:-300px; opacity:0
  } 
  to 
  {
  	top:0; opacity:1
  }
}

@keyframes animatetop 
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close2 
{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header 
{
  padding: 2px 16px;
  background-color: #2FF8B1;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer 
{
  padding: 2px 16px;
  background-color: #2FF8B1;
  color: white;
}

/* ----------- END CONFIRMATION FOR SAVING WITHOUT SHARING BILAN DESIGN --------------*/

/* ------------------------ PROGRESS BAR ------------------------ */

.circular-chart 
{
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

.circle 
{
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;

}

@keyframes progress 
{
  0% 
  {
    stroke-dasharray: 0 100;
  }
}

/* --------------------- END PROGRESS BAR -------------------- */
#dnsBlockFrame
{
	border: 1px solid grey;
	width: 70%;
	margin: auto;
	margin-top: 5%;
	box-shadow: 3px 4px 2px 3px grey;
}


#dnsBlocToDownload
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
  background-size: cover;
  background-repeat: round;
}

/*
#dnsBlocToDownload::before 
{
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}
*/

#progressBars
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
}

#praticienSignature
{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 75%;
    margin-top: 14%;
    padding-bottom: 9%;
}

#praticienSignature > img
{
	width: 12rem;
	height: 5rem;
}

#praticienDetailsForDNSReport
{
	height: auto;
	margin-top: 15%;
	margin-left: 5%;
}

#todayDate
{
	display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3%;
  margin-right: 5%;
}


#fullQuestions1Bloc
{
	height: 90vh;
  overflow: scroll;
}

#testTitle
{
	margin: auto ;
}

#testGDSResultToPrint
{
	display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 70vw;
  max-width: 70vw;
  margin: auto;
  margin-top: 10vh;
}





















































































































































































































































































































































































































































































































.dropdown
{
	display: none;
}

#userGuide1
{
	display: flex;
	flex-direction: column;
	border: 2px solid grey;
	box-shadow: 4px 3px 4px 3px darkslategrey;
	margin: auto;
	justify-content: space-around;
	margin-top: 10%;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	background-color: white;

	height: 20rem;
	min-height: 20rem;
	max-height: 20rem;
	border-radius: 15px;
}

#userGuide2
{
	display: flex;
	flex-direction: column;
	position: sticky;
	border: 2px solid grey;
	box-shadow: 4px 3px 4px 3px darkslategrey;
	margin: auto;
	justify-content: space-around;
	margin-top: 10%;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	background-color: white;

	height: 20rem;
	min-height: 20rem;
	max-height: 20rem;
	border-radius: 15px;
}

#userGuide3
{
	display: flex;
	flex-direction: column;
	position: sticky;
	border: 2px solid grey;
	box-shadow: 4px 3px 4px 3px darkslategrey;
	margin: auto;
	justify-content: space-around;
	margin-top: 10%;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	background-color: white;

	height: 20rem;
	min-height: 20rem;
	max-height: 20rem;
	border-radius: 15px;
}

#userGuide4
{
	display: flex;
	flex-direction: column;
	position: sticky;
	border: 2px solid grey;
	box-shadow: 4px 3px 4px 3px darkslategrey;
	margin: auto;
	justify-content: space-around;
	margin-top: 10%;
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	background-color: white;

	height: 20rem;
	min-height: 20rem;
	max-height: 20rem;
	border-radius: 15px;
}

#userGuideTitle
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	text-align: center;
	align-items: center;
	align-content: center;
	margin-top: 0;
}

#guideText
{

}

#startQcmButtonDiv
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	text-align: center;
	align-items: center;
	align-content: center;
	width: 15%;
	min-width: 15%;
	max-width: 15%;
	height: 2.5rem;
	min-height: 2.5rem;
	max-height: 2.5rem;	
	margin: auto;
}

#startQcmButton
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: initial;
	margin: auto;
	text-align: center;
	align-items: center;
	align-content: center;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 2.5rem;
	min-height: 2.5rem;
	max-height: 2.5rem;
	border-radius: 5px;
	background-color: #2FF8B1;
	margin-top: 20%;
	color: white;

	border: 1px solid grey;
	box-shadow: 2px 1px 2px 1px grey;
}

#startQcmButton:hover
{
	background-color: #2FF8B1;
	transition-duration: 0.7s;
	color: grey;
}


#fontDesign
{
	font-family: Segoe UI Light;
	text-align: center;
	width: 94%;
  min-width: 94%;
  max-width: 94%;
  margin: auto;
  border: 1px solid lawngreen;
  border-radius: 15px;
  box-shadow: 2px 4px 5px 7px grey;
}

#hrParam
{
	width: 20%;
	height: 1px;
	background: red;
}

#dashboardMenuBloc
{
	display: flex;
	flex-direction: row;
	min-width: 99%;
	max-width: 99%;
	min-height: 4rem;
	max-height: 4rem;

	margin: auto;
	border-radius: 5px;

  background-image: linear-gradient( to top right, #b9afaf , #bdb8b5);
}

#dashboardMenu
{
	display: flex;
	flex-direction: row;
	text-align: center;
	position: relative;
	right: -45%;
}

#dashboardButtons
{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: #786b6b;
	font-size: 1.5rem;
	display: flex;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	position: relative;
	margin-right: 2rem;
}

#dashboardButtons:hover
{
	color: white;
	transition-duration: 1s;

}

#welcomeUserName
{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: #786b6b;
	font-size: 1.5rem;
	display: flex;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	position: relative;
	right: 77%;
}

#welcomeUserName:hover
{
	color: white;
	transition-duration: 1s;
}



#nextPageButton
{
	display: flex;
	width: 12%;
	min-width: 12%;
	max-width: 12%;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	border: 2px solid grey;
	border-radius: 10px;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	padding: 1.5rem;
	text-decoration: none;
	color: white;
}


#nextPageButton:hover
{
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	color: grey;
	transition-duration: 1s;
}

#saveTestGDSButton
{
	display: flex;
	width: 12%;
	min-width: 12%;
	max-width: 12%;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	border: 2px solid grey;
	border-radius: 10px;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	padding: 1.5rem;
	text-decoration: none;
	color: white;
}

#saveTestGDSButtonWithoutSharing
{
	display: flex;
	width: 12%;
	min-width: 12%;
	max-width: 12%;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	border: 2px solid grey;
	border-radius: 10px;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	padding: 1.5rem;
	text-decoration: none;
	color: white;
}

#pageButtons
{
	display: flex;
	flex-direction: row;
}

#resetFunction
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 3rem;
	max-width: 3rem;
	min-width: 3rem;
	margin-top: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	text-decoration: none;
	border-radius: 5px;
	color: white;
}

#resetFunction:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#exportFunction
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 7rem;
	max-width: 7rem;
	min-width: 7rem;
	margin-top: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	text-decoration: none;
	border-radius: 5px;
	color: white;
	position: relative;
	top: 10%;
	left: 45%;
}

#exportFunction:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#exportFunction2
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 7rem;
	max-width: 7rem;
	min-width: 7rem;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background: grey;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	position: relative;
	top: 20%;
	left: 48%;
	justify-content: space-around;
}

#exportFunction2:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#sendFunction2
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 7rem;
	max-width: 7rem;
	min-width: 7rem;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background: grey;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	position: relative;
	top: 20%;
	left: 48%;
	justify-content: space-around;
}

#sendFunction2:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#returnFunction
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 5rem;
	max-width: 5rem;
	min-width: 5rem;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background: grey;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	position: relative;
	top: 20%;
	left: 48%;
	justify-content: space-around;
}

#returnFunction:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#finishButton
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 5rem;
	max-width: 5rem;
	min-width: 5rem;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background: grey;
	text-decoration: none;
	border-radius: 5px;
	color: white;
	position: relative;
	top: 20%;
	left: 48%;
	justify-content: space-around;
}

#finishButton:hover
{
	background: darkorange;
	transition-duration: 1s;
}

#sendFunction
{
	font-family: "roboto condensed", sans-serif;
	display: flex;
	width: 5rem;
	max-width: 5rem;
	min-width: 5rem;
	margin-top: 2%;
	padding: 1rem;
	border:  1px solid grey;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	text-decoration: none;
	border-radius: 5px;
	color: white;
	text-align: center;
}

#sendFunction:hover
{
	background: darkorange;
	transition-duration: 1s;
	cursor:pointer;
}

.selectForPrescription
{
	color: white;
	background: green;
	border-radius: 5px;
	padding: 1rem;
}

.selectForPrescription:hover
{
	transition-duration: 0.5s;
	background: grey;
}

#separationLine
{
	width: 40%;
	min-width: 40%;
	max-width: 40%;
	color: grey;
}

#invoice
{
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	margin-left: 5%;
	text-align: center;
	font-family: Segoe UI Light;
}

#mainFetchResults
{
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
}

#TopPrescription
{
	display: flex;
	flex-direction: row;
	/*position: relative;*/
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	height: 300px;
}

#logoPraticien
{
	width: 15%;
	min-width: 15%;
	max-width: 15%;
	height: 200px;
	min-height: 200px;
	max-height: 200px;
}

#praticienDetails
{
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 25%;
	max-width: 25%;
	/*position: relative;*/
	margin-left: 55%;
}

#signature
{
	display: flex;
	flex-direction: column;
	position: initial;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: auto;
	min-height: auto;
	max-height: auto;
	margin-top: 2%;
	margin-left: 70%;
}

#textType
{
	font-family: : Segoe UI Light;
}

#setFont
{
	font-family: segoe UI Light;
}

#emailWindow
{
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	border: 1px solid grey;
	border-radius: 5px;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	height: 30rem;
	background: grey;
	opacity: 1;

	margin: auto;
}

#closeWindowButton
{
	color: #51c574;
	position: absolute;
	right: 1%;
	font-size: 18px;
}

#closeWindowButton:hover
{
	color: red;
	transition-duration: 0.4s;
}

#prescriptionLogo
{
	display: flex;
	flex-direction: column;
	width: 15%;
	min-width: 15%;
	max-width: 15%;
	height: 30%;
	min-height: 30%;
	max-height: 30%;
	position: relative;
	right: 30%;
	border: 2px solid grey;
	border-radius: 15px;
	box-shadow: 2px 3px 2px 3px grey;
}

#beforePrintFormat
{
	position: relative;
	color:black;
	font-family: Segoe UI Light;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
}

#sendMailToPatientInput
{
	width: 40%;
	min-width: 40%;
	min-width: 40%;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	border-radius: 10px;
	border: 1px transparent;
	box-shadow: 2px 1px 2px 1px white;
}

#sendMailToPatientSubmitButton
{
	width: 10%;
	min-width: 10%;
	max-width: 10%;
	height: 3rem;
	min-height: 3rem;
	max-height: 3rem;
	margin-left: 2%;
	border-radius: 5px;
	border: none ;
	box-shadow: 2px 1px 2px 1px white;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	font-family: segoe UI Light;
	font-size: 18px;
	font-weight: 800;
	color: white;
}

#terminerButton
{
	width: 8%;
	min-width: 8%;
	max-width: 8%;
	height: 3rem;
	min-height: 3rem;
	max-height: 3rem;
	margin-left: 0%;
	margin-top: 2%;
	border-radius: 5px;
	border: none ;
	box-shadow: 2px 1px 2px 1px white;
	background-image: linear-gradient( to top right, #50db70 , #bdb8b5);
	font-family: segoe UI Light;
	font-size: 18px;
	font-weight: 800;
	color: white;
	text-align: center;
}

#terminerButton:hover
{
	background: darkorange;
	transition-duration: 1s;
	cursor:pointer;
}


#headMessage1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: segoe UI Light;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
}

#headMessage
{
	font-family: segoe UI Light;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	margin: auto;
	margin-top: 5%;
}

#secondTitle
{
	font-family: segoe UI Light;
}

@media screen and (min-width: 1260px) and (max-width: 1280px) 
{
		#topMenuNav 
	{
		top: 0.7%;
	}
	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#logoImage 
	{
		width: 14%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
	}

	#searchBox
	{
		margin-top: 1%;
		margin-left: 0;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#timeClock
	{
		margin-left: 2%;
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#clock
	{
		margin-left: 0;
    margin-right: 0;
	}
	
	#agenda
	{
		margin-top: 1.5%;
		margin-left: 0;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 1.5%;
	}

	.main-menu 
	{
		top: 8%;
	}

	#userGuide1 
	{
		width: 60%;
		min-width: 60%;
		max-width: 60%;
	}

	#dashboardMenu 
	{
		right: -25%;
	}

	#welcomeUserName 
	{
		right: 25%;
	}

	#buttonsPosition
	{
		margin-left: 2%;
	}

	#emailWindow 
	{
		width: 55%;
		min-width: 55%;
		max-width: 55%;
		left: 22%;
	}

	#sendMailToPatientSubmitButton
	{
		width: 13%;
		min-width: 13%;
		max-width: 13%;
	}

}

@media screen and (min-width: 1180px) and (max-width: 1200px) 
{
	#dashboardMenu
	{
		right: -20%;
	}

	#welcomeUserName 
	{
		right:  23%;
	}

	#emailWindow 
	{
		left: 24%;
		width: 50%;
		min-width: 50%;
		max-width: 50%;
		height: 20%;
	}

	#sendMailToPatientSubmitButton 
	{
		width: 14%;
		min-width: 14%;
		max-width: 14%;
	}

	#buttonsPosition
	{
		margin-left: 3%;
	}

}
@media screen and (min-width: 1070px) and (max-width: 1080px) 
{
	#dashboardMenu 
	{
		right: -12%;
	}

	#welcomeUserName 
	{
		right: 11%;
	}

	#buttonsPosition
	{
		margin-left: 5%;
	}

	#terminerButton 
	{
		width: 10%;
		min-width: 10%;
		max-width: 10%;
	}
}

@media screen and (min-width: 1020px) and (max-width: 1024px) 
{
	#topMenuNav 
	{
		top: 0.7%;
	}
	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#logoImage 
	{
		width: 16%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
	}

	#searchBox
	{
		margin-top: 1%;
		margin-left: 0;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#timeClock
	{
		margin-left: 2%;
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#clock
	{
		margin-left: 0;
    margin-right: 0;
	}
	
	#agenda
	{
		margin-top: 1.8%;
		margin-left: 0;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 1.8%;
	}

	.main-menu 
	{
		top: 10%;
	}

	#userGuide1 
	{
		width: 60%;
		min-width: 60%;
		max-width: 60%;
	}

	#dashboardMenu
	{
		right: -36%;
	}

	#welcomeUserName 
	{
		right: 51%;
		font-size: 18px;
	}

	#dashboardButtons 
	{
		font-size: 18px;
	}

	#buttonsPosition
	{
		margin-left: 5%;
	}

	#terminerButton 
	{
		width: 10%;
		min-width: 10%;
		max-width: 10%;
	}
}

@media screen and (min-width: 900px) and (max-width: 912px) 
{

	#topMenuNav
	{
		top: 0.3%;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 17%;
		min-width: 17%;
		max-width: 17%;
	}

	#logoImage
	{
		width: 17%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
	}

	#searchBox
	{
		margin-top: 1%;
		margin-left: 0;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#timeClock
	{
		margin-left: 0;
		width: 30%;
		min-width: 30%;
		max-width: 30%;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 2%;
	}

	#userGuide1 
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	.main-menu
	{
		top: 4.5%;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 45px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown {
	  position: relative;
	  display: inline-block;
	  left: 40%;
	  display: none;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fontDesign
	{
		width: 85%;
		min-width: 85%;
		max-width: 85%;
	}

	#nextPageButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#terminerButton 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 44%;
	}

	#exportFunction2 
	{
		left: 44%;
	}

	#finishButton
	{
		left: 44%;
	}
}

@media screen and (min-width: 800px) and (max-width: 820px) 
{
	#topMenuNav
	{
		top: 0.3%;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#usernameTopNav
	{
		margin-left: 0%;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
	}

	.navbar li 
	{
		width: 120.8px;
	}

	#searchBox
	{
		margin-left: 0;
		width: 21%;
		min-width: 21%;
		max-width: 21%;
		margin-top: 1.5%;
	}

	#timeClock
	{
		margin-left: 0;
		width: 35%;
		min-width: 35%;
		max-width: 35%;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-left: 5%;
		margin-top: 2%;
	}

	#logoImage 
	{
		width: 20%;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn 
	{
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 45px;
	  border: none;
	  cursor: pointer;
	  display: none;
	}

	.dropdown {
	  position: relative;
	  display: inline-block;
	  left: 40%;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fullQuestions1Bloc > center > h1
	{
		margin-left: 5%;
	}

	#fontDesign
	{
		width: 60%;
    min-width: 60%;
    max-width: 60%;
    margin-left: 8%;
	}

	#nextPageButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#terminerButton 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 44%;
	}

	#exportFunction2 
	{
		left: 44%;
	}

	#finishButton
	{
		left: 44%;
	}

	#userGuide1 
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}
}


@media screen and (min-width: 760px) and (max-width: 768px) 
{

	#topMenuNav
	{
		top: 0.3%;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#logoImage 
	{
		top: 2%;
		width: 20%;
	}

	.navbar li 
	{
		width: 113.8px;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
	}

	#searchBox
	{
		margin-top: 1.5%;
		margin-left: 0;
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#timeClock
	{
		margin-left: 0;
		width: 30%;
		min-width: 30%;
		max-width: 30%;
	}

	#clock
	{
		display: none;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 2.5%;
		margin-left: 5%;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 45px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown 
	{
	  position: relative;
	  display: inline-block;
	  left: 40%;
		display: none;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fontDesign
	{
		width: 85%;
		min-width: 85%;
		max-width: 85%;
	}

	#nextPageButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#terminerButton 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 44%;
	}

	#exportFunction2 
	{
		left: 44%;
	}

	#finishButton
	{
		left: 44%;
	}

	#userGuide1
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}
}


@media screen and (min-width: 400px) and (max-width: 414px) 
{

	#topMenuNav > div:nth-child(1)
	{
		width: 22%;
		min-width: 22%;
		max-width: 22%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	.navbar li 
	{
		width: 85.8px;
	}

	#searchBox
	{
		display: none;
	}

	#timeClock
	{
		margin-left: 0;
		width: 40%;
		min-width: 40%;
		max-width: 40%;
	}

	#clock
	{
		display: none;
	}

	#time
	{
		font-size: 14px;
	}

	#day
	{
		font-size: 14px;
	}

	#date
	{
		font-size: 14px;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 3%;
	}

	#userGuide1
	{
		margin-top: 17%;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
		margin-left: 15%;
	}

	#startQcmButtonDiv 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#logoImage 
	{
		top: 25%;
		width: 20%;
	}

	#topMenuNav 
	{
		top: 0.1%;
	}

	#fullQuestions1Bloc > center > h1
	{
		margin-left: 15%;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown {
	  position: relative;
	  display: inline-block;
	  left: 40%;
	  display: none;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fontDesign
	{
		width: 85%;
    min-width: 85%;
    max-width: 85%;
    margin-left: 14%;
	}

	#nextPageButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#terminerButton 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 36%;
	}

	#exportFunction2 
	{
		left: 38%;
	}

	#finishButton
	{
		left: 38%;
	}
}

@media screen and (min-width: 390px) and (max-width: 393px) 
{

	.fa 
	{
		height: 34px;
	}

	#topMenuNav 
	{
		top: 0.1%;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 23%;
		min-width: 23%;
		max-width: 23%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#logoImage
	{
		top: 15px;
		width: 23%;
	}

	.navbar li 
	{
		width: 95.8px;
	}

	#searchBox
	{
		display: none;
	}

	#timeClock
	{
		margin-left: 0;
		width: 40%;
		min-width: 40%;
		max-width: 40%;
	}

	#clock
	{
		display: none;
	}

	#time
	{
		font-size: 13px;
	}

	#day
	{
		font-size: 13px;
	}

	#date
	{
		font-size: 13px;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 3%;
		margin-left: 5%;
	}

	#userGuide1
	{
		margin-top: 18%;
		width: 85%;
		min-width: 85%;
		max-width: 85%;
		margin-left: 13%;
	}

	#startQcmButtonDiv 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown 
	{
	  position: relative;
	  display: inline-block;
	  left: 40%;
		display: none;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fontDesign
	{
		width: 85%;
		min-width: 85%;
		max-width: 85%;
		margin-left: 14%;
	}

	#nextPageButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#terminerButton 
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 36%;
	}

	#exportFunction2 
	{
		left: 36%;
	}

	#finishButton
	{
		left: 36%;
	}
}

@media screen and (min-width: 370px) and (max-width: 375px) 
{

	#topMenuNav 
	{
		top: 0%;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#usernameTopNav
	{
		margin-left: 0;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
	}

	.navbar li
	{
		width: 90.8px;
	}

	#searchBox
	{
		display: none;
	}

	#timeClock
	{
		margin-left: 0;
		width: 40%;
		min-width: 40%;
		max-width: 40%;
	}

	#clock
	{
		display: none;
	}

	#time
	{
		font-size: 14px;
	}

	#day
	{
		font-size: 14px;
	}

	#day
	{
		font-size: 14px;
	}

	#date
	{
		font-size: 14px;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 3%;
	}

	#logoImage 
	{
		top: 29%;
		width: 17%;
	}

	.main-menu 
	{
		top: 10%;
	}
	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown 
	{
	  position: relative;
	  display: inline-block;
	  left: 40%;
		display: none;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fullQuestions1Bloc > center > h1
	{
		margin-left: 17%;
	}

	#fontDesign
	{
		width: 85%;
		min-width: 85%;
		max-width: 85%;
		margin-left: 15%;
	}

	#nextPageButton 
	{
		width: 22%;
		min-width: 22%;
		max-width: 22%;
	}

	#terminerButton 
	{
		width: 28%;
		min-width: 28%;
		max-width: 28%;
	}

	#buttonsPosition
	{
		margin-left: 5%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 36%;
	}

	#exportFunction2 
	{
		left: 36%;
	}

	#finishButton
	{
		left: 36%;
	}

	#userGuide1 
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
		margin-top: 22%;
		margin-left: 16%;
	}

	#startQcmButtonDiv 
	{
		width: 34%;
		min-width: 34%;
		max-width: 34%;
	}


}

@media screen and (min-width: 300px) and (max-width: 360px) 
{

#body
	{
		width: 96%;
		max-width: 96%;
		min-width: 96%;
	}
	/* -----SCROLL BAR PARAM-----*/
	::-webkit-scrollbar 
	{

		width: 15px;
	  min-width: 15px;
	  max-width: 15px;
	  background: white;
	}

	::-webkit-scrollbar-track 
	{
	   background: white;
	}

	::-webkit-scrollbar-thumb 
	{
	  background: #2FF8B1;
	}

	/*----- END SCROLL BAR PARAM ------*/

	#clock
	{
		display: none;
	}

	#dashboardMenuBloc
	{
		display: none;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#logoImage 
	{
		margin-top: 3%;
		width: 28%;
		min-width: 18%;
	}

	#menuIcon
	{
		display: none;
	}

	.navbar
	{
		display: none;
	}

	#agenda
	{
		display: none;
	}

	#clock
	{
		font-size: 20px;
		margin-top: 10%;
	}

	#time
	{
		font-size: 16px;
	}

	#day
	{
		font-size: 16px;
	}

	#date
	{
		font-size: 16px;
	}

	#logout 
	{
		    margin-left: 12%;
		    margin-top: 4%;
	}

	#username
	{
		display: none;
	}

	#timeClock 
	{
	    width: 50%;
	    min-width: 50%;
	    max-width: 50%;
	    margin-left: 10%;
	}

	#searchBox
	{
		display: none;
	}

	.main-menu>ul 
	{
		margin-top: 0rem;
	}

	#mainAppearence 
	{
    display: flex;
    flex-direction: column;
	}

	#dashboardButton
	{
		margin: auto;
	}

	#topMenuNav
	{
		margin-top: -2.6%;
		position: fixed;
		width: 99%;
		min-width: 99%;
		max-width: 99%;
	}

	.main-menu
	{
		position: fixed;
		height: 91%;
		top: 8%;
	}

	#userGuide1 
	{
    width: 82%;
    min-width: 82%;
    max-width: 82%;
    margin-top: 25%;
    margin-left: 16%;
	}

	#fullQuestions1Bloc > center > h1
	{
		margin-left: 20%;
	}

	#startQcmButtonDiv 
	{
		width: 35%;
    min-width: 35%;
    max-width: 35%;
    margin-bottom: 5%;
	}

	#fontDesign
	{
		width: 82%;
    min-width: 82%;
    max-width: 82%;
    margin-left: 17%;
	}

	#nextPageButton 
	{
		width: 30%;
    min-width: 30%;
    max-width: 30%;
	}

		#userGuide2
	{
		width: 82%;
    min-width: 82%;
    max-width: 82%;
    margin-top: 25%;
    margin-left: 16%;
	}

	#fullQuestions2Bloc > center > h1
	{
		margin-left: 20%;
	}

	#userGuide3
	{
		width: 82%;
    min-width: 82%;
    max-width: 82%;
    margin-top: 25%;
    margin-left: 16%;
	}

	#fullQuestions3Bloc > center > h1
	{
		margin-left: 20%;
	}

	#userGuide4
	{
		width: 82%;
    min-width: 82%;
    max-width: 82%;
    margin-top: 25%;
    margin-left: 16%;
	}

	#fullQuestions4Bloc > center > h1
	{
		margin-left: 20%;
	}

	#exportFunction
	{
		left: 30%;
	}

	#resetFunction 
	{
		margin-left: 16%;
	}

	#terminerButton
	{
		width: 30%;
    min-width: 30%;
    max-width: 30%;
    margin-left:  16%;
	}

	#mainFetchResults
	{
		display: flex;
    position: relative;
    flex-direction: column;
	}

	.fa 
	{
		height: 29px;
		top: 9px;
	}
}


@media screen and (min-width: 260px) and (max-width: 280px) 
{
	#topMenuNav 
	{
		top: 0.3%;
		display: none;
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 30%;
		min-width: 30%;
		max-width: 30%;
	}

	#logoImage 
	{
		margin-top: 6%;
		width: 26%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 30%;
		min-width: 30%;
		max-width: 30%;
	}

	.main-menu 
	{
		top: 0%;
	}

	#userGuide1
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
		margin-left: 20%;
	}

	#startQcmButtonDiv 
	{
		width: 40%;
		min-width: 40%;
		max-width: 40%;
	}

	#fullQuestions1Bloc > center > h1
	{
		font-size: 21px;
		margin-left: 20%;
	}



	#dashboardMenuBloc
	{
		display: none;
	}

	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown {
	  position: relative;
	  display: inline-block;
	  left: 35%;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	  left: -45%;
	}

	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}

	#dashboardMenu
	{
		flex-direction: column ;
		right: -10%;
		align-items: center;
		text-align: center;
	}

	#dashboardMenuOptions
	{
		flex-direction: column;
		position: relative;
		left: 1%;
		margin: 0;
		margin-top:5% ;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#dashboardMenuOption 
	{
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

	#dashboardMenuOptionsImageBloc
	{
		margin-bottom: 10%;
	}

	#dashboardButtons
	{
		margin-right: 1rem;
		font-size: 20px;
	}

	#welcomeUserName 
	{
		right: 10%;
	}

	#fontDesign
	{
		width: 80%;
		min-width: 80%;
		max-width: 80%;
		margin-left: 20%;
	}

	#nextPageButton 
	{
		width: 30%;
		min-width: 30%;
		max-width: 30%;
	}

	#terminerButton 
	{
		width: 35%;
		min-width: 35%;
		max-width: 35%;
	}

	#buttonsPosition
	{
		margin-left: 1%;
		margin-top: 6%;
	}

	#exportFunction 
	{
		left: 28%;
	}

		#exportFunction2 
	{
		left: 32%;
	}

	#finishButton
	{
		left: 32%;
	}
}

@media screen and (min-width: 500px) and (max-width: 540px) 
{
	#topMenuNav 
	{
		top: 0.3%;	
	}

	#topMenuNav > div:nth-child(1)
	{
		display: flex;
		flex-direction: row;
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#logoImage 
	{
		width: 20%;
		margin-top: 2%;
	}

	#usernameTopNav
	{
		margin-left: 0;
		width: 15%;
		min-width: 15%;
		max-width: 15%;
		margin-top: 1%;
	}

	.navbar li 
	{
		width: 75.8px;
	}

	#searchBox
	{
		margin-top: 2.5%;
		margin-left: 0;
		width: 32%;
		min-width: 32%;
		max-width: 32%;
		display: none;
	}

	#timeClock
	{
		margin-left: 0;
		width: 40%;
		min-width: 40%;
		max-width: 40%;

	}

	#clock
	{
		display: none;
	}

	#agenda
	{
		display: none;
	}

	#username
	{
		display: none;
	}

	#logout
	{
		margin-top: 3%;
		margin-left: 18%;
	}

	.main-menu
	{
		top: 9%;
	}

	#dashboardMenu 
	{
		right: -13%;
	}
	#welcomeUserName 
	{
		right: 13%;
		font-size: 14px;
	}

	#dashboardButtons 
	{
		font-size: 14px;
		margin-right: 1rem;
	}

	#dashboardMenuOption 
	{
		font-size: 12px;
		width: 82%;
		min-width: 82%;
		max-width: 82%;
	}

	#nextPageButton 
	{
		width: 24%;
		min-width: 24%;
		max-width: 24%;
	}

	#exportFunction 
	{
		left: 39%;
	}

	#buttonPosition
	{

		width: 60%;
	    min-width: 60%;
	    max-width: 60%;
	}

	#fontDesign 
	{
		width: 85%;
		min-width: 85%;
		max-width: 85%;
		margin-left: 10%;
	}

	#fullQuestions1Bloc > center > h1
	{
		margin-left: 6%;
	}

	#terminerButton 
	{
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}

	#exportFunction2 
	{
		left: 40%;
	}

	#finishButton
	{
		left: 40%;
	}

	#userGuide1
	{
		margin-top: 12%;
		margin-left: 15%;
		width: 80%;
		min-width: 80%;
		max-width: 80%;
	}

	#startQcmButtonDiv
	{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
	}

}